# Ignore service account
gcp_svc_acc.json

# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore .terraform directory
.terraform/

# Ignore any local Terraform configuration files
.terraformrc
terraform.rc

# Ignore lock file
.terraform.lock.hcl

# Ignore tfvars
*.tfvars

# Env variables
**/*/.env